@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --background-color: rgb(90, 90, 120);
    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray: gray;
    --font-default: "Montserrat", sans-serif;
    --alignment-default: center;
}

body {
    background-color: var(--background-color);
    color: var(--color-white);
    font-family: var(--font-default);
    text-align: var(--alignment-default);
}

.logo {
    padding: 2rem;
    text-align: var(--alignment-default);
    width: 300px;
}

#form {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    flex-direction: column;
    align-items: var(--alignment-default);
}

#redes {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    flex-direction: row;
    justify-content: var(--alignment-default);
}

label {
    font-size: 1.25rem;
    font-weight: bold;
}

button {
    margin-top: 1rem;
    padding: 0.75rem 2rem;
    border-radius: 10px;
    background-color: var(--color-white);
    color: var(--color-black);
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid var(--color-white);
}

button:hover {
    background-color: var(--color-gray);
}

.inputs {
    font-size: 2rem;
    border-radius: 10px;
    font-size: 2rem;
    padding: 0.5rem;
    text-align: var(--alignment-default);
    font-family: var(--font-default);
    border: 1px dashed var(--color-white);
    background-color: var(--color-gray);
    width: 90%;
}

.inputs:focus {
    background-color: var(--color-white);
}

p {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px var(--color-black);
}

#instagram {
    background-image: url(./imgs/instagram.png);
    width: 50px;
    height: 50px;
}

#instagram:hover {
    background-image: url(./imgs/instagram-white.png);
    width: 50px;
    height: 50px;
}

#youtube {
    background-image: url(./imgs/youtube.png);
    width: 50px;
    height: 50px;
}

#youtube:hover {
    background-image: url(./imgs/youtube-white.png);
    width: 50px;
    height: 50px;
}