@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --background-color: rgb(106, 106, 113);
    --color-white: #ffffff;
    --font-default: "Montserrat", sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--color-white);
    font-family: var(--font-default);
    text-align: center;
}

.logo {
    padding: 2rem;
    text-align: center;
    width: 30%;
}

#form {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}

#redes {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    flex-direction: row;
    justify-content: center;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
}

button {
    margin-top: 2rem;
    padding: 0.75rem 2rem;
    border-radius: 10px;
    /* box-shadow: 5px 5px 5px black; */
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid white;
}

button:hover {
    background-color: gray;
}

.inputs {
    font-size: 2rem;
    border-radius: 10px;
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    font-family: var(--font-default);
    border: 1px dashed white;
    background-color: gray;
    /* box-shadow: 5px 5px 5px black; */
}

.inputs:focus {
    background-color: #ffffff;
}

p {
    font-style: italic;
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 2px 2px 3px black;
}

#instagram {
    background-image: url(./instagram.png);
    width: 50px;
    height: 50px;
}

#instagram:hover {
    background-image: url(./instagram-white.png);
    width: 50px;
    height: 50px;
}

#youtube {
    background-image: url(./youtube.png);
    width: 50px;
    height: 50px;
}

#youtube:hover {
    background-image: url(./youtube-white.png);
    width: 50px;
    height: 50px;
}